.Titlecard{
 margin-top: 50px;
 margin-bottom: 30px;

}
.Titlecard h2{
    margin-bottom: 8px;
}
.card-list{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}
.card-list ::-webkit-scrollbar{
    display: none;
    
}
.card-list img{
     /* width: 200px; */
    width: 200px; /*Makes sure the image fills the card width */
    height: 100%; /* Ensures the image fills the card's height */
    object-fit: cover; /* Ensures the image maintains its aspect ratio while covering the area */
    object-position: center; 
    box-sizing: content-box;
    border-radius: 4px;
    gap: 10px;
    cursor: pointer;
    /* font-size: 200px; */
}
.card-list .card{
    position: relative;
}
.card-list .card p{
    position: absolute;
    text-decoration: none;
    color: aliceblue;
    bottom: 10px;
    right: 10px;
}
@media(max-width:800px){
    .Titlecard{
        margin-top: 20px;
        margin-bottom: 0;
    }
    .Titlecard h2{
        font-size: 20px;
    }
    .card-list img{
        width: 200px;
    }
    .card-list p{
        font-size: 12px;
    }
}

@media(max-width:500px){
    .Titlecard{
        margin-top: 20px;
        margin-bottom: 0;
    }
    .Titlecard h2{
        font-size: 15px;
    }
    .card-list img{
        width: 165px;
    }
    .card-list p{
        font-size: 10px;
    }
}